body {
    background-color: #111111;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 55px; 
  }

/* Webfont: Mafins-Regular */
@font-face {
    font-family: 'Mafins';
    src: url('fonts/Mafins/Web-TT/Mafins.eot'); /* IE9 Compat Modes */
    src: url('fonts/Mafins/Web-TT/Mafins.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Mafins/Web-TT/Mafins.woff') format('woff'), /* Modern Browsers */
         url('fonts/Mafins/Web-TT/Mafins.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Mafins/Web-TT/Mafins.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.middle-text {
    font-family: "Mafins", Georgia; 
}

#bottom {
    font-family: "Mafins", Georgia;
    position: fixed;
    bottom: 0;
    left: auto;
}

img.emojione {  
    margin: 0px !important;
    display: inline !important;
}

.flag-emoji {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 50px;
    padding-left: .5%;
}
  
@media only screen and (max-width: 600px) {
    .flag-emoji {
        font-size: 75px;
    }
}

span{font-size:2rem;}